// Styling for the call to action section
.call-to-action {
  padding: 50px 0;
  h2 {
    margin: 0 auto 20px;
  }
}
#submit{
  background-color: greenyellow;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
