.title-font {
	font-size: 40px;
	color: tomato;
  	font-family: 'Helvetica Neue' sans-serif;
  	text-transform: uppercase;
  	line-height: 40px;
}

.title-font-head {
	font-size: 50px;
	color: tomato;
  	font-family: 'Helvetica Neue' sans-serif;
  	text-transform: uppercase;
  	line-height: 40px;
}

.text {
	font-size: 13px;
	color: tomato;
  	font-family: 'Helvetica Neue' sans-serif;
}

.front, .back {
	transition: -webkit-transform 1.5s;
	-webkit-backface-visibility: hidden;
}

.front {
	width: 100%;
	position: absolute;
	z-index: 1;
}

.back {
	width: 100%;
	-webkit-transform: rotateY(-180deg);
}

.info-card{
	margin-bottom: 6em;
}

.card-box{
	margin-left: auto;
	margin-right: auto;
}

.info-card:hover .back {
	-webkit-transform: rotateY(0);
}

.info-card:hover .front {
	-webkit-transform: rotateY(180deg);
}

.headText{

	font-size: 11vw;
	color: tomato;
	margin-bottom: .3em;
	padding-left: 10px;
}

.aboutImgBox{
	width: 450px;
}

.muted{
	color:#676666;
}

.quote{
	font-size: 10px;
	margin-top: 15px;
}

.skillsHeader{
	color: tomato;
	font-family: Helvetica;
	font-size: 4vw;
	margin-bottom: 40px;
	margin-top: 10px;
}

.skillsTitles{
	color: #676666;
	font-family: Helvetica;
	font-size: 20px;
}

.skillsDesc{
	color: #676666;
	font-family: Helvetica;
	font-size: 13px;
	display: block;
	line-height: 1em;
	padding-bottom: 20px;
	width:180px;
	margin-left: auto;
	margin-right: auto;
}

.imgFill{
	width: 100%;
}

.rounded{
}

.centerGallery{
	justify-content: center;
}

.formText{
	color: rgb(17, 17, 17);
	font-family: Helvetica;
	font-size: 15px;
	margin-top:-1%;
}

.formHeader{
	font-size: 30px;
	margin-left: 30px;
	padding: 30px 300px 20px 150px;
	background-color: black;
}

.footer {
    background: rgb(17, 17, 17);
    color: rgb(248, 246, 246);
    padding-top: 20px;
    padding-bottom:20px;
    font-size: 12px;
}

.project-subname {
	padding: 0px 10px 20px 10px;
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	font-size: 15px;
	line-height: 17px;
}

.project-desc {
	padding: 0px 20px 0px 20px;
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	font-size: 12px;
	line-height: 17px;
}
#forminput{
	width: 150%;
	border-style: dashed;
}
.btn{
	background-color: white;
	width: 175px;

}
@import "compass/css3";


body { 
  font-family: "Helvetica Neue", arial, sans-serif;
  padding: 1em;
}

h1 {
  font-size: 1em;
  font-weight: 800;
}

h3 { font-size: 1em; }

progress, progress[role] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-size: auto;
  height: 20px;
  width: 300%;
}


.skill-list {
  list-style: none;
  margin: 0;
  padding: 1em;
}

.skill {
margin-bottom: 1em;
position: relative;
  /* h3 {
    color: #fff;
    left: 1em;
    line-height: 1;
    position: absolute;
    top: 1em;
  } */
 
}

.skill-1::-webkit-progress-value {
  background: #ff9e2c;
}

.skill-1::-moz-progress-bar {
  background: #ff9e2c;
}

.skill-2::-webkit-progress-value {
  background: #4ecdc4;
}

.skill-2::-moz-progress-bar {
  background: #4ecdc4;
}

.skill-3::-webkit-progress-value {
  background: #ff6b6b;
}

.skill-3::-moz-progress-bar {
  background: #ff6b6b;
}

@-webkit-keyframes bar-fill {
  0% { width: 0; }
}

@keyframes bar-fill {
  0% { width: 0; }
}